.title {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.5em;
}

.title h1 {
  width: fit-content;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #fff;
  animation: typing 3s steps(40, end), blink-cursor 0.75s step-end infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 80%; }
}

@keyframes blink-cursor {
  from, to { border-color: transparent; }
  50% { border-color: #fff; }
}